li{
	list-style: none;
}
a:link,a:visited{
	background-color: rgb(64, 64, 64);
	text-decoration: none;
	border: 1px solid blue;
	color: black;
	display: block;
	text-align: center;
	width: 200px;
	margin-bottom: 1px;
}
a:hover,a:active{
	background: transparent;
	color: white;
}
.red{
	color: rgb(230, 25, 25);
	text-align: center;
	font-weight:bold;
	font-style: italic;
	font-family: Arial,Helvetica,sans-sherif;
}
*{

	box-sizing: border-box;
}
#div{
	margin-top: 0px;
	margin-bottom: 5px;
	position: absolute;
	top:260px;
	left: 270px;	
	text-align: center;
	background-color: grey;
	width: 220px;
	height:160px;
}

#div2{
	background-color: transparent;
}
#p1,#p2,#p3,#p4,#p5{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 2px;
} 
#left,#right{
	width: 50%;
	margin-top:0px;
	border: 1px solid black;
	float: left;
	padding: 10px;
}
#finish{
	clear: left;
}
#middle{
	margin-bottom: 0px;
	text-align: center;
	background-color:  #666699;
}
#left{
	background-color: #992600
}
#right{
	background-color: lime;
}
#p1{
	background-color:  #00ffff;
}
#p2{
	background-color:  #ff0000;
}
#p3{
	background-color: #06f906;
}
#p4{
	background-color: #ff00ff;
}
#p5{
	background-color: #660066;
}
section{
	clear: left;
}


body{
	background-image:url("alanwalker-1604725426118-170.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
